---
import Layout from "../../layouts/Layout.astro";
import { getPortfolios } from "../../data/portfolio-notion";

const { portfolio } = Astro.params

const info = (await getPortfolios({ filterBy: portfolio }))[0]

if (!info) { 
  return Astro.redirect("/404")
}
---

<Layout title={`Servicio ${info.title}`}>
    <main>
        <div>
            <h1>{info.title}</h1>
            <p class="">{info.description}</p>
            <picture>
                <img 
                class=""
                src={info.cover}
                alt={`Servicio ${info.title}`}
                >
            </picture>
        </div>
    </main>
</Layout>